<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Book | <%= title %></title>
  </head>
  <body>
    <header>
      <nav><a href="/">Go Home</a></nav>
      <h1>Add New Book</h1>
    </header>
    <main>
      <form action="/new" method="post">
        <div class="input-div">
          <label for="title">Title *</label
          ><input type="text" name="title" id="title" required />
        </div>
        <div class="input-div">
          <label for="first_name">Author First Name *</label
          ><input type="text" name="first_name" id="first_name" required />
        </div>
        <div class="input-div">
          <label for="last_name">Author Last Name *</label
          ><input type="text" name="last_name" id="last_name" required />
        </div>
        <div class="select-div">
          <label for="genre">Genre</label>
          <select name="genre" id="genre">
            <option value="Literature">Literature</option>
            <option value="Science">Science</option>
            <option value="Philosophy">Philosophy</option>
            <option value="Psychology">Psychology</option>
            <option value="History">History</option>
            <option value="Self-Help">Self-Help</option>
            <option value="Other" selected>Other</option>
          </select>
        </div>
        <div class="input-div">
          <label for="selling_price">Selling Price *</label
          ><input
            type="number"
            name="selling_price"
            id="selling_price"
            required
            min="1"
          />
        </div>
        <div class="input-div">
          <label for="quantity_in_stock">Quantity in Stock</label
          ><input
            type="number"
            name="quantity_in_stock"
            id="quantity_in_stock"
            min="0"
          />
        </div>
        <div class="input-div">
          <label for="quantity_sold">Quantity Sold</label
          ><input
            type="number"
            name="quantity_sold"
            id="quantity_sold"
            min="0"
          />
        </div>
        <div class="button-div"><button type="submit">Submit</button></div>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
