<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | <%= title %></title>
  </head>
  <body>
    <nav><%- include('partials/navbar.ejs')%></nav>
    <header></header>
    <main>
      <% if (books.length) {%> <% books.forEach((book) => { %>
      <article><h2><%= book.title %></h2></article>
      <%}); %> <% } else { %>
      <p>No books found. Click <strong>Add Book</strong> to add a new book.</p>
      <% } %>
    </main>
    <footer></footer>
  </body>
</html>
