/* bookForm.ejs and editBook.ejs */
html {
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #eef4ed;
  color: #0b2545;
}

header {
  text-align: center;
}

nav {
  background-color: #caf0f8;
  padding: 30px;
}

nav ul {
  list-style-type: none;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  font-weight: 500;
}

h1 {
  margin: 30px;
}

main {
  display: flex;
  justify-content: center;
}

form {
  border: 1px solid #0b2545;
  padding: 50px;
  border-radius: 10px;
  background-color: #caf0f8;
}

.input-div,
.select-div {
  margin-top: 10px;
}

label {
  margin-right: 10px;
}

button {
  background-color: #0b2545;
  color: #eef4ed;
  padding: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  margin-top: 20px;
}

.button-div {
  text-align: center;
}

footer {
  text-align: center;
  margin: 30px;
}

footer a {
  text-decoration: none;
}
