html {
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* index.ejs and viewBy*.ejs */
body {
  display: grid;
  grid-template-columns: 220px auto;
  background-color: #caf0f8;
  color: #0b2545;
}

nav {
  grid-area: 1 / 1 / 4 / 2;
  height: 100vh;
  padding: 30px;
}

nav ul {
  list-style-type: none;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  font-weight: 500;
}

header {
  text-align: center;
  padding-top: 50px;
  background-color: #eef4ed;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

h1,
h2 {
  text-transform: uppercase;
}

main {
  background-color: #eef4ed;
}

main section {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 30px;
}

main article {
  border: 1px solid #13315c;
  border-radius: 5px;
  background-color: #caf0f8;
  padding: 20px;
}

main article .edit-delete {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

main article .edit-delete a {
  text-decoration: none;
}

main .delete-all {
  text-align: center;
}

main span {
  font-weight: 500;
}

main p.no-books {
  text-align: center;
}

button {
  background-color: #0b2545;
  color: #caf0f8;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

main .delete-all button {
  padding: 20px;
}

footer {
  text-align: center;
  background-color: #eef4ed;
  padding: 50px;
}

footer a {
  text-decoration: none;
}

/* For mobile */
@media (max-width: 768px) {
  body {
    display: block;
  }

  nav {
    height: auto;
  }

  nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
  }

  main section {
    margin: 0;
    padding: 30px;
  }
}
